Angular Projects/Angular_Architecture.png
Angular Projects/angularjs-MVC-Architecture.jpg
Angular Projects/Angular acrhitecture.png
DotNet Projects/CryptoDemo/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
DotNet Projects/CryptoDemo/bin
DotNet Projects/CryptoDemo/.vs
DotNet Projects/CryptoDemo/appsettings.Development

